<div class="top-head">
    <div class="top-head__container">
        <ul class="top-head__contact">
            <li class="top-head__item top-head__item--phone">
                <svg class="ico z-phone"><use xlink:href="#z-phone"/></svg>
                <span>fone: 0800 771 1213   /   (11) 5904-9390</span>
            </li>
            <li class="top-head__item top-head__item--whatsapp">
                <svg class="ico z-whatsapp"><use xlink:href="#z-whatsapp" /></svg>
                <span>whatsapp: (11) 99346 9973   /   (11) 99347 4289</span>
            </li>
        </ul>
        {{widget type="menubuilder/output" id="8" template="menubuilder/output.phtml"}}
    </div>
</div>