.brands
    &:before
        content: 'principais marcas'
        display: block
        font-size: 18px
        font-weight: medium
        color: color1_bg
        padding: 10px 0

    &__list
        position: relative
        box-shadow: 0px 0px 5px 0px rgba(201, 83, 39, 0.1)
        padding: 0 80px
        width: auto
        border: solid 1px #e5e5e5
        border-radius: 4px

    &__item a
        border: 0

    .owl-wrapper-outer
        border-right: none

    .owl-next, .owl-prev
        background: none
        color: color1_bg