.breadcrumb
    &__home .breadcrumb__link:before
        display: none

    &__link
        font-size: 13px
        font-weight: medium
        color: #666666
        text-transform: lowercase

    &__last
        font-size: 13px
        font-weight: medium
        color: color1_bg
        text-transform: lowercase

    &__sep
        width: 5px
        height: 5px
        background: #8eb545
        border-radius: 50%

        span
            display: none