.footer
    width: viewport
    max-width: calc(100% - 30px)
    padding: 40px 0
    text-align: center

    .logo
        width: 150px
        display: inline-block

        img, svg
            width: 150px
            height: 52px

    .socials
        margin: 30px 0

        &__list
            justify-content: center

        &__link
            display: flex
            justify-content: center
            align-items: center
            width: 25px
            height: 25px
            background: color1_bg
            border-radius: 50%

        &__svg
            width: 12px
            height: 12px

    &-container
        margin-top: 0

    &__title
        font-size: 18px
        font-weight: medium
        color: color1_bg

        &--central
            font-size: 16px
            text-transform: uppercase
            padding: 20px 0

        &--store
            font-size: 13px
            color: #1d9647

    &__phone, &__email
        font-size: 14px
        font-weight: medium
        color: #666666
        padding: 5px 0

    &__phone--800
        font-size: 22px
        color: #8eb545

    &__ruler
        font-size: 13px
        font-weight: medium
        color: #666666
        padding: 25px 0

        h4
            font-size: 18px
            font-weight: medium
            color: #8eb545

    &__security
        display: flex
        justify-content: center
        align-items: center

        .footer__title
            margin-right: 15px

        img
            width: 50px

    &__copyrights
        padding-top: 50px

        p
            font-size: 13px
            font-weight: medium
            color: #666666

    .mymenu
        padding: 25px 0

        .a--0
            font-size: 14px
            font-weight: medium
            color: #666666

    .pays, .ships
        padding: 25px 0

        &__svg
            height: 20px

@media (min-width: 993px)
    .footer
        text-align: left

        &__title
            &--central
                max-width: 145px

        .socials
            &__list
                justify-content: flex-start

        &__row
            display: flex
            justify-content: space-between
            margin: 0 -15px

        &__col
            padding: 0 15px
            flex: 0 1 25%

        &__payment-send
            border-top: solid 1px #f0f1ee
            border-bottom: solid 1px #f0f1ee

            .footer__content
                display: flex
                justify-content: space-between
                margin: 0 -15px
                padding-top: 20px

        &__payment, &__send
            padding: 0 15px
            display: flex
            justify-content: flex-start
            align-items: center

            .footer__title
                margin-right: 15px

        &__securitys
            padding-top: 30px

        &__security
            justify-content: flex-start
