.header
    width: viewport
    max-width: calc(100% - 30px)
    min-height: 48px

    &-container
        position: sticky
        top: 0
        background: #fff
        transition: all 0.2s ease

        &.up
            position: fixed !important
            top: -80px !important