.mycart
    &__header
        .ico
            width: 30px
            height: 30px

        .qtd
            font-size: 11px
            font-weight: 700
            right: -8px

    &:hover
        .mycart__header a
            background: none

    .header &.on
        z-index: 200

    &__content
        > .title
            font-size: 16px
            font-weight: 800
            color: #8eb545

    &__details
        text-align: right

        .price
            font-size: 16px
            font-weight: medium
            color: color1_bg

    &__name
        margin-bottom: 10px

        a
            font-size: 13px
            font-weight: medium
            color: #666666

    &__qtd, &__remove
        display: none

    &__item
        position: relative
        border-bottom: 0

        + .mycart__item
            padding-top: 30px

            &:before
                content: '+'
                position: absolute
                top: -5px
                right: 0
                font-size: 22px
                font-weight: 700
                color: #eb7800
                width: 10px
                height: 10px
                background: #fff

            &:after
                content: ''
                height: 1px
                background: #feefe9
                position: absolute
                top: 7px
                left: 0
                width: calc(100% - 20px)

    &__totals
        display: flex
        flex-flow: column nowrap
        text-align: right

        > .title
            display: flex
            align-items: center
            font-size: 18px
            font-weight: medium
            color: #8eb545
            text-transform: lowercase
            order: 1

            &:before
                content: ''
                flex: 1
                min-width: 0
                height: 1px
                background: #dde9c7
                margin-right: 30px

        .price-box-avista
            order: 4
            border-top: dotted 1px #cdcdcd
            border-bottom: dotted 1px #cdcdcd
            padding: 10px 0
            display: flex
            justify-content: space-between

            .discount
                order: -1
                font-size: 17px
                font-weight: medium
                color: #999999
                padding-right: 10px

            .label
                font-size: 9px
                flex: 1
                min-width: 0
                color: #999
                text-transform: lowercase

            .price
                font-size: 25px
                font-weight: 800
                color: #8eb545
                display: flex
                justify-content: flex-end

        .price-box-parcelado
            order: 3
            font-size: 14px
            font-weight: medium
            color: #666666

            .value, .num
                span
                    color: color1_bg

            .juros, .c-juros
                font-size: 11px
                color: #666666
                font-weight: regular

        .regular-price
            order: 2
            display: flex
            justify-content: flex-end
            padding-bottom: 5px

            .label
                display: none

            .price
                font-size: 17px
                font-weight: 700
                color: color1_bg

    &__actions
        margin: 0
        border: 0

        .finalizar
            font-size: 22px
            background: #92b84a
            color: #ffffff
            text-align: center
            text-transform: lowercase
            height: 40px
            border-radius: 40px
            padding: 0
            display: flex
            justify-content: center
            align-items: center
            box-shadow: 0 2px 0 #66882e

            &:hover
                background: #92b84a

        .editar
            font-size: 11px
            font-weight: regular
            color: #666666
            padding: 10px 0

            span
                display: none

            &:before
                content: 'editar'

            &:after
                content: 'minha caixa'
                display: block

            &:hover
                background: none

@media (min-width: 993px)
    .mycart
        padding: 15px 0

        &__content
            box-shadow: 0px 0px 10px 0px rgba(22, 23, 40, 0.15)
            border-radius: 4px
            padding: 30px 20px 20px