.price-box
    .regular-price, .special-price
        .label
            display: none

        .price span
            font-size: 15px
            font-weight: bold
            color: color1_bg

    .old-price
        .label
            display: none

        .price span
            font-size: 12px
            font-weight: regular
            color: #999999
            text-decoration: line-through

.price-box-parcelado
    font-size: 12px
    font-weight: medium
    color: #666666

    .num, .value
        span
            color: color1_bg !important
            font-weight: medium

.price-box-avista
    display: block

    .label
        display: block
        font-size: 11px
        color: #8eb545
        text-transform: uppercase

    .price
        display: block
        font-size: 22px
        font-weight: bold
        color: #8eb545