.products
    margin: 50px 0

    &__title
        font-size: 26px
        font-weight: medium
        color: color1_bg
        padding-bottom: 50px
        text-transform: lowercase

    &__case
        box-shadow: none

    &__name
        display: block
        font-size: 15px
        font-weight: medium
        color: #666666
        line-height: 16px
        height: 34px
        overflow: hidden
        margin-bottom: 15px

    &__header
        margin-bottom: 15px

    &__out
        font-size: 16px
        font-weight: medium
        text-transform: uppercase
        text-align: center
        color: #f00

    .owl-pagination
        display: none

@media (min-width: viewport + 80px)
    .products
        .owl-prev
            left: -40px

        .owl-next
            right: -40px
