.search
    &__button
        background: #fff

        .ico
            fill: #97bb4a
            width: 15px
            height: 15px

@media (min-width: 569px)
    .search
        border: solid 1px #e4e4e4
        border-radius: 40px

        &__input
            height: 40px
            border: 0 !important
            box-shadow: none
            border-radius: 40px

        &__button
            border-radius: 40px
            border: 0
            box-shadow: none

@media (min-width: 993px)
    .search
        .header &
            flex: 0 1 425px
            min-width: 0
