.category-title, .toolbar, .category-image
    display: none

.toolbar-bottom .toolbar
    display: block

.category-description
    background: #f3f7ec
    border: 0
    border-radius: 4px
    font-size: 13px
    color: #666666